body{
  background: black;
  margin: 0;
  padding:0;
  overflow:hidden;
}
#title{
  position: absolute;
  margin-left: 1400px;
  margin-right: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  color: white;
  font-size:19px;
  
}
#generation{
  font-size:35px;
  color: white;
}
